@model UrunViewModel

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@(Model.Urun.Id != 0 ? "Ürün Güncelle" : "Ürün Oluştur")</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Urun.Id" hidden />
            <input asp-for="Urun.ResimYolu" hidden />
            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Urun.Ad" class="form-control border-0 shadow" />
                            <label asp-for="Urun.Ad" class="ms-2"></label>
                            <span asp-validation-for="Urun.Ad" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <textarea asp-for="Urun.Aciklama" class="form-control border-0 shadow"></textarea>
                            <label asp-for="Urun.Aciklama" class="ms-2"></label>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Urun.Fiyat" class="form-control border-0 shadow" />
                            <label asp-for="Urun.Fiyat" class="ms-2"></label>
                            <span asp-validation-for="Urun.Fiyat" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Urun.Stok" class="form-control border-0 shadow" />
                            <label asp-for="Urun.Stok" class="ms-2"></label>
                            <span asp-validation-for="Urun.Stok" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <select asp-for="Urun.KategoriId" asp-items="@Model.KategoriListesi" class="form-select border-0 shadow">
                                <option disabled selected>--Kategori Seçin--</option>
                            </select>
                            <label asp-for="Urun.KategoriId" class="ms-2"></label>
                            <span asp-validation-for="Urun.KategoriId" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input type="file" name="file" class="form-control border-0 shadow" />
                            <label class="ms-2">Ürün Resmi</label>
                        </div>
                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                <button type="submit" class="btn btn-primary form-control">@(Model.Urun.Id != 0 ? "Güncelle" : "Oluştur")</button>
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Urun" asp-action="Index" class="btn btn-outline-primary border form-control">
                                    Listeye Dön
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <img src="@Model.Urun.ResimYolu" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
