@{
    ViewData["Title"] = "Admin Paneli";
}
<h1>Admin Paneli</h1>
<p>İçerikleri yönetmek için linkleri kullanın.</p>
<a class="btn btn-primary" asp-action="Kategoriler" asp-controller="Admin">Kategorileri Yönet</a>
<a class="btn btn-info" asp-action="Urunler" asp-controller="Admin">Ürünleri Yönet</a>