@model UrunSatisPortali.Models.Kategori
@{
    ViewData["Title"] = "Yeni Kategori Ekle";
}
<h1>Yeni Kategori Ekle</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="KategoriEkle" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ad" class="control-label"></label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Oluştur" class="btn btn-success" />
                <a asp-action="Kategoriler" class="btn btn-secondary">Listeye Geri Dön</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}