
@model Kategori

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Kategori Sil</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" id="deleteForm">
            <input asp-for="Id" hidden />
            <div class="border p-3">
                <div class="form-floating py-2 col-12">
                    <input asp-for="Ad" disabled class="form-control border-0 shadow" />
                    <label asp-for="Ad" class="ms-2"></label>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="button" class="btn btn-danger form-control" onclick="confirmDelete()">Sil</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Kategori" asp-action="Index" class="btn btn-outline-primary border form-control">
                            Listeye Dön
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
        <script>
            function confirmDelete() {
                Swal.fire({
                    title: 'Emin misiniz?',
                    text: "Bu kategoriyi silmek istediğinize emin misiniz?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Evet, Sil!',
                    cancelButtonText: 'İptal'
                }).then((result) => {
                    if (result.isConfirmed) {
                        document.getElementById('deleteForm').submit();
                    }
                })
            }
        </script>
}
