@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.AdSoyad" class="form-control" placeholder="Ad Soyad giriniz." />
                <label asp-for="Input.AdSoyad" class="form-label"></label>
                <span asp-validation-for="Input.AdSoyad" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input type="file" name="Input.ProfilDosyasi" class="form-control" />
                <label>Profil Fotoğrafı Yükle</label>
            </div>

            <div class="mb-3">
                <label>Mevcut Fotoğraf:</label>
                <img src="@(Model.Input.ProfilResmiUrl ?? "/assets/images/avatars/avatar-1.png")"
                     class="rounded-circle"
                     style="width: 100px; height: 100px; object-fit: cover;" />
            </div>  
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
