@model int

<a class="nav-link position-relative" asp-area="" asp-controller="Cart" asp-action="Index">
    <i class="bi bi-bag" style="font-size: 1.3rem;"></i>
    @if (Model > 0)
    {
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-black"
            style="font-size: 0.6rem;">
            @Model
        </span>
    }
</a>
